# ENV data
.env
.env.*
!.env.example

# System-Dateien
.DS_Store
Thumbs.db

# Composer Vendor-Verzeichnis
/vendor/

# Protokolle und temporäre Dateien
*.log
*.tmp
*.bak
*.swp

# IDE- und Editor-Dateien
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Backup-Dateien
*.old
*.orig

# Uploads (optional, falls du Dateien speicherst)
uploads/
.env brh28
.env demo
